body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:3669px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1284px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7348 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:80px;
  width:1284px;
  height:37px;
  display:flex;
  opacity:0.3;
}
#u7348 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7348_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7349 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:640px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7350 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:214px;
  height:640px;
  display:flex;
}
#u7350 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:55px;
}
#u7351 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:55px;
  display:flex;
}
#u7351 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/工单待办/u138_div.png');
  background-repeat:no-repeat;
  background-size:366px 46px;
  background-position: left top;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7352 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:11px;
  width:300px;
  height:31px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7352 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7353 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1286px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u7354 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:49px;
  width:1286px;
  height:31px;
  display:flex;
}
#u7354 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7354_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u7355 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:50px;
  width:20px;
  height:30px;
  display:flex;
}
#u7355 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u7356 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:91px;
  width:186px;
  height:15px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u7356 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7356_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7357 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7358 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:31px;
  background:inherit;
  background-color:rgba(128, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7359 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:49px;
  width:116px;
  height:31px;
  display:flex;
}
#u7359 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u7360 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:52px;
  width:19px;
  height:23px;
  display:flex;
  font-size:18px;
  text-align:center;
}
#u7360 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7360_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7361 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7362 {
  border-width:0px;
  position:absolute;
  left:2571px;
  top:-2203px;
  width:1098px;
  height:186px;
}
#u7363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:34px;
}
#u7363 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:34px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7363 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:34px;
}
#u7364 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:0px;
  width:154px;
  height:34px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7364 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7364_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:34px;
}
#u7365 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:0px;
  width:119px;
  height:34px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7365 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u7366 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:0px;
  width:98px;
  height:34px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7366 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u7367 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:0px;
  width:102px;
  height:34px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7367 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u7368 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:0px;
  width:102px;
  height:34px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7368 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
}
#u7369 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:0px;
  width:92px;
  height:34px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7369 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u7370 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:0px;
  width:100px;
  height:34px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7370 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u7371 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:0px;
  width:100px;
  height:34px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7371 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:34px;
}
#u7372 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:0px;
  width:65px;
  height:34px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:34px;
}
#u7373 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:0px;
  width:113px;
  height:34px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7373 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:42px;
}
#u7374 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:53px;
  height:42px;
  display:flex;
}
#u7374 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:42px;
}
#u7375 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:34px;
  width:154px;
  height:42px;
  display:flex;
}
#u7375 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:42px;
}
#u7376 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:34px;
  width:119px;
  height:42px;
  display:flex;
}
#u7376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:42px;
}
#u7377 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:34px;
  width:98px;
  height:42px;
  display:flex;
}
#u7377 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:42px;
}
#u7378 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:34px;
  width:102px;
  height:42px;
  display:flex;
}
#u7378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:42px;
}
#u7379 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:34px;
  width:102px;
  height:42px;
  display:flex;
}
#u7379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:42px;
}
#u7380 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:34px;
  width:92px;
  height:42px;
  display:flex;
}
#u7380 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u7381 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:34px;
  width:100px;
  height:42px;
  display:flex;
}
#u7381 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u7382 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:34px;
  width:100px;
  height:42px;
  display:flex;
}
#u7382 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
}
#u7383 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:34px;
  width:65px;
  height:42px;
  display:flex;
}
#u7383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:42px;
}
#u7384 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:34px;
  width:113px;
  height:42px;
  display:flex;
}
#u7384 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:39px;
}
#u7385 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:76px;
  width:53px;
  height:39px;
  display:flex;
}
#u7385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:39px;
}
#u7386 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:76px;
  width:154px;
  height:39px;
  display:flex;
}
#u7386 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:39px;
}
#u7387 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:76px;
  width:119px;
  height:39px;
  display:flex;
}
#u7387 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:39px;
}
#u7388 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:76px;
  width:98px;
  height:39px;
  display:flex;
}
#u7388 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:39px;
}
#u7389 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:76px;
  width:102px;
  height:39px;
  display:flex;
}
#u7389 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:39px;
}
#u7390 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:76px;
  width:102px;
  height:39px;
  display:flex;
}
#u7390 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:39px;
}
#u7391 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:76px;
  width:92px;
  height:39px;
  display:flex;
}
#u7391 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:39px;
}
#u7392 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:76px;
  width:100px;
  height:39px;
  display:flex;
}
#u7392 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7392_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:39px;
}
#u7393 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:76px;
  width:100px;
  height:39px;
  display:flex;
}
#u7393 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7393_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u7394 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:76px;
  width:65px;
  height:39px;
  display:flex;
}
#u7394 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7394_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:39px;
}
#u7395 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:76px;
  width:113px;
  height:39px;
  display:flex;
}
#u7395 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:37px;
}
#u7396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:115px;
  width:53px;
  height:37px;
  display:flex;
}
#u7396 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:37px;
}
#u7397 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:115px;
  width:154px;
  height:37px;
  display:flex;
}
#u7397 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:37px;
}
#u7398 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:115px;
  width:119px;
  height:37px;
  display:flex;
}
#u7398 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:37px;
}
#u7399 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:115px;
  width:98px;
  height:37px;
  display:flex;
}
#u7399 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:37px;
}
#u7400 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:115px;
  width:102px;
  height:37px;
  display:flex;
}
#u7400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:37px;
}
#u7401 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:115px;
  width:102px;
  height:37px;
  display:flex;
}
#u7401 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
}
#u7402 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:115px;
  width:92px;
  height:37px;
  display:flex;
}
#u7402 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:37px;
}
#u7403 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:115px;
  width:100px;
  height:37px;
  display:flex;
}
#u7403 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:37px;
}
#u7404 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:115px;
  width:100px;
  height:37px;
  display:flex;
}
#u7404 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u7405 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:115px;
  width:65px;
  height:37px;
  display:flex;
}
#u7405 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:37px;
}
#u7406 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:115px;
  width:113px;
  height:37px;
  display:flex;
}
#u7406 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7406_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:34px;
}
#u7407 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:152px;
  width:53px;
  height:34px;
  display:flex;
}
#u7407 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7407_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:34px;
}
#u7408 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:152px;
  width:154px;
  height:34px;
  display:flex;
}
#u7408 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7408_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:34px;
}
#u7409 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:152px;
  width:119px;
  height:34px;
  display:flex;
}
#u7409 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7409_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u7410 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:152px;
  width:98px;
  height:34px;
  display:flex;
}
#u7410 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u7411 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:152px;
  width:102px;
  height:34px;
  display:flex;
}
#u7411 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7411_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u7412 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:152px;
  width:102px;
  height:34px;
  display:flex;
}
#u7412 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7412_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
}
#u7413 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:152px;
  width:92px;
  height:34px;
  display:flex;
}
#u7413 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u7414 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:152px;
  width:100px;
  height:34px;
  display:flex;
}
#u7414 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7414_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u7415 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:152px;
  width:100px;
  height:34px;
  display:flex;
}
#u7415 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7415_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:34px;
}
#u7416 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:152px;
  width:65px;
  height:34px;
  display:flex;
}
#u7416 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7416_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:34px;
}
#u7417 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:152px;
  width:113px;
  height:34px;
  display:flex;
}
#u7417 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7417_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u7418 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:556px;
  width:12px;
  height:13px;
  display:flex;
  font-family:'iconfont ', 'iconfont', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#D8D8D8;
}
#u7418 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7418_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u7419 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:580px;
  width:12px;
  height:13px;
  display:flex;
  font-family:'iconfont ', 'iconfont', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#D8D8D8;
}
#u7419 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
