body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-318px;
  width:200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3316 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3317 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:112px;
}
#u3318 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:273px;
  width:200px;
  height:112px;
  display:flex;
}
#u3318 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 31.1746894409939px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3318_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u3319 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:284px;
  width:136px;
  height:15px;
  display:flex;
  color:#8C8C8C;
}
#u3319 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3319_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u3320 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:309px;
  width:102px;
  height:15px;
  display:flex;
  color:#8C8C8C;
}
#u3320 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3320_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u3321 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:335px;
  width:83px;
  height:15px;
  display:flex;
  color:#8C8C8C;
}
#u3321 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3321_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
